{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de blog {% endblock %}

{% block description %} Lisez des articles divertissants sur le monde de One pièce  {% endblock %}

{% block keywords %} One piece, Blog, Pirate, Elchiro Oda, Articles {% endblock %}

{% block main %}
    <main>
        {% include "components/header_visitor.html.twig" with {'h1': 'Page de blog'} %}
    </main>
{% endblock %}

