{% extends "themes/base_visitor.html.twig" %}

{% block title %}{{post.title}}{% endblock %}

{% block description %}{{post.title}}{% endblock %}

{% block keywords %}Blog, One Blog , One piece, Manga, Pirate{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Bonsoir</h1>
{% endblock %}