{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page d'accueil {% endblock %}

{% block description %} Venez découvrir One pièce, l'incroyable manga d'Elchiro Oda  ! {% endblock %}

{% block keywords %} One piece, Blog, Pirate, Elchiro Oda {% endblock %}

{% block main %}
    <main>
        <h1>Page d'accueil</h1>
    </main>
{% endblock %}

